[submodule "puppet/modules/nodejs"]
	path = puppet/modules/nodejs
	url = git://github.com/willdurand/puppet-nodejs.git
[submodule "puppet/modules/wget"]
	path = puppet/modules/wget
	url = git://github.com/maestrodev/puppet-wget.git
